body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #92A8D1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 1200px;
  margin: auto;
}

.grid-container > div {
  background-color: #ffffff;
  text-align: center;
  padding: 20px;
  font-size: 24px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.items_box {
  grid-column: span 2;
}

.images_contain {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.images_contain > img {
  width: 80px;
  height: 80px;
  transition: transform 0.3s;
  cursor: pointer;
}

.images_contain > img:hover {
  transform: scale(1.1);
}

.result_container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.user-point-container, .cpu-point-container {
  font-size: 20px;
}

.hidden {
  display: none;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #28a745;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #218838;
}
